<div class="container mt-5">
  <!-- Kupon Oluşturma Formu -->
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openCreateFrom()">Create</button>
  </div>

  <!-- Kupon Listesi -->
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Coupon Code</th>
          <th>Discount Amount</th>
          <th>Min Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons"
          [class.selected]="coupon === selectedCoupon">
          <td>{{ coupon.couponCode }}</td>
          <td>{{ coupon.discountAmount }}</td>
          <td>{{ coupon.minAmount }}</td>
          <td>
            <button class="btn btn-primary btn-sm  me-2"
              (click)="selectCoupon(coupon)">Select</button>
            <button class="btn btn-warning btn-sm  me-2"
              (click)="editCoupon(coupon)">Edit</button>
            <button class="btn btn-danger btn-sm"
              (click)="deleteCoupon(coupon.couponId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Oluşturma Formu -->
  <div *ngIf="isOpenCreateForm" class="mb-3">
    <h2>Create Coupon</h2>
    <form>
      <div class="mb-3">
        <label for="createCouponCode" class="form-label">Coupon Code:</label>
        <input type="text" class="form-control" id="createCouponCode"
          [(ngModel)]="creatingCoupon.couponCode" name="couponCode" />
      </div>
      <div class="mb-3">
        <label for="createDiscountAmount" class="form-label">Discount Amount:</label>
        <input type="number" class="form-control" id="createDiscountAmount"
          [(ngModel)]="creatingCoupon.discountAmount" name="discountAmount" />
      </div>
      <div class="mb-3">
        <label for="createMinAmount" class="form-label">Minimum Amount:</label>
        <input type="number" class="form-control" id="createMinAmount"
          [(ngModel)]="creatingCoupon.minAmount" name="minAmount" />
      </div>
      <button class="btn btn-success" (click)="createCoupon(creatingCoupon)">Save</button>
      <button class="btn btn-secondary" (click)="cancelCreate()">Cancel</button>
    </form>
  </div>

  <!-- Düzenleme Formu -->
  <div *ngIf="isOpenEditForm" class="mb-3">
    <h2>Edit Coupon</h2>
    <form>
      <div class="mb-3">
        <label for="editCouponCode" class="form-label">Coupon Code:</label>
        <input type="text" class="form-control" id="editCouponCode"
          [(ngModel)]="editingCoupon.couponCode" name="couponCode" />
      </div>
      <div class="mb-3">
        <label for="editDiscountAmount" class="form-label">Discount Amount:</label>
        <input type="number" class="form-control" id="editDiscountAmount"
          [(ngModel)]="editingCoupon.discountAmount" name="discountAmount" />
      </div>
      <div class="mb-3">
        <label for="editMinAmount" class="form-label">Minimum Amount:</label>
        <input type="number" class="form-control" id="editMinAmount"
          [(ngModel)]="editingCoupon.minAmount" name="minAmount" />
      </div>
      <button class="btn btn-success" (click)="updateCoupon(editingCoupon)">Save</button>
      <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>

  <!-- Seçili Kupon Detayları -->
  <div *ngIf="isOpenSelectedCoupon" class="mb-3">
    <h2>Selected Coupon</h2>
    <p>Coupon ID: {{ selectedCoupon.couponId }}</p>
    <p>Coupon Code: {{ selectedCoupon.couponCode }}</p>
    <p>Discount Amount: {{ selectedCoupon.discountAmount }}</p>
    <p>Min Amount: {{ selectedCoupon.minAmount }}</p>
  </div>
</div>
