 <ng-container *ngFor="let data of datas">
  <ng-container
    *ngIf="data.subCategories && data.subCategories.length > 0; else nonSubCategories">
    <mat-expansion-panel class="mat-elevation-z0" style="cursor: none;">
      <mat-expansion-panel-header>
        {{ data.CategoryName }}
      </mat-expansion-panel-header>
      <app-openablebuton [datas]="data.subCategories"></app-openablebuton>
    </mat-expansion-panel>
  </ng-container>
  <ng-template #nonSubCategories>
    <p>{{ data.CategoryName }}</p>
  </ng-template>
</ng-container>
